@source "../../resources/js/";
@source "../../resources/views/";

@import "tailwindcss";

@plugin '@tailwindcss/forms';

@import "./variables.css";

@import "./typography.css";
@import "./utilities.css";
@import "./forms.css";
@import "./buttons.css";
@import "./tables.css";
@import "./content.css";
@import "./toasts.css";

@layer base {
    @view-transition {
        navigation: auto;
    }

    #app {
        @apply h-full;
    }
}
